@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

body {
  background: url("/images/pattern.svg");
  background-size: cover;
  font-size: 16px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  text-align: center;
}

.title {
  font-size: 5em;
}

.subtitle {
  font-size: 4em;
}

.title,
.subtitle {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: #636b6f;
}

/*.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}*/

.m-b-md {
  margin-bottom: 30px;
}

